*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/java/com/example/bookforum/utils/SecretKeys.kt
/app/src/main/java/com/example/bookforum/utils/HashConstants.kt
/app/src/main/java/com/example/bookforum/utils/secretItems/HashConstants.kt
/app/src/main/java/com/example/bookforum/utils/secretItems/SecretKeys.kt
